
/* Your CSS Code here. */
.holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position:center;
}
.item{
   width: 100px;
    height: 70px;
    background-color : brown;
    border : 1px solid black;
}
